<?xml version="1.0"?>
<configuration>    
  <appSettings>
    <add key="sourceFoldereDreams" value="\\192.168.148.201\bsp"/>
    <add key="destinationFoldereDreams" value="\\192.168.148.201\bsp\AMDSPY"/>
    <add key="filtereDreams" value="DGEN-*.txt"/>
    <add key="prefixeDreams" value="EDREAMS"/>
    <add key="sourceFolderOpodo" value="\\192.168.148.201\bsp\AMDSPY_OPODO"/>
    <add key="destinationFolderOpodo" value="\\192.168.148.201\bsp\AMDSPY_OPODO\ASBackup"/>
    <add key="filterOpodo" value="*.txt"/>
    <add key="prefixOpodo" value="OPODO"/>
    <add key="pathLogs" value="C:\OdigeoApp\AS-Backup\Logs"/>
  </appSettings>
</configuration>
